[phases.setup]
nixPkgs = ["nodejs_18", "npm-9_x"]

[phases.install]
cmds = [
  "npm ci",
  "cd web && npm ci"
]

[phases.build]
cmds = [
  "cd web && npm run build"
]

[start]
cmd = "node server.js"

